GITLAB_IMAGE=gitlab/gitlab-ce:latest
GITLAB_RUNNER_IMAGE=gitlab/gitlab-runner:latest
GITLAB_HTTP_PORT=8929
GITLAB_SSH_PORT=2224
GITLAB_HOSTNAME=localhost
GITLAB_CONFIG_DIR=./gitlab/config
GITLAB_LOGS_DIR=./gitlab/logs
GITLAB_DATA_DIR=./gitlab/data
GITLAB_RUNNER_CONFIG_DIR=./gitlab-runner/config
