DTRACK_API_IMAGE=dependencytrack/apiserver:latest
DTRACK_FRONTEND_IMAGE=dependencytrack/frontend:latest
DTRACK_POSTGRES_IMAGE=postgres:16-alpine
DTRACK_API_PORT=8080
DTRACK_FRONTEND_PORT=8081
DTRACK_POSTGRES_USER=dtrack
DTRACK_POSTGRES_PASSWORD=CHANGE_ME
DTRACK_POSTGRES_DB=dtrack
DTRACK_POSTGRES_DIR=./dependency-track/postgres
DTRACK_API_DATA_DIR=./dependency-track/apiserver
DTRACK_ALPINE_SECRET_KEY=CHANGE_ME_GENERATE_RANDOM_HEX
DTRACK_JAVA_OPTIONS=-Xmx2048m
